body{
    background:rgb(56,76,88);
}
h1{
    color:rgb(165, 142, 10);
    font-family:EB Garamond, serif;
    margin:auto;
}
.kingdom{
    background:rgb(56,76,88);
    text-align:center;

}
.map{
    width:500px;
   
    
}