body{
      
    background:rgb(60, 105, 49);

    font-family:Arial;
}
.playground{
    display:block;

    background:white; 

    justify-content:center;

    align-items:center;

    text-align:center;

    width: 700px;

    height:auto;

    border-radius:10px;

    margin:50px auto;

    padding:20px;
}

.item{
    font-size:40px;
    
    display:flex;
    
    justify-content:space-between;
}


.restart{
    width:100px;

    height: 40px;

    margin-bottom:20px;

   font-size: 20px;

    background:red;

    color:white;

    border-radius:10px;
}

.show{

display:flex;

gap:25px;

justify-content:center;

background:white;

font-size: 40px;

margin-bottom:50px;


}
.card{
    background : purple;

    height: 160px;

    font-size:140px;

    color:white;
     
    width:100px;

    text-align:center;

    border-radius: 10px;

}


.input{
    justify-content:center;

    display: flex;
    
    gap:15px;

    margin-top: 50px;

}
.paper{
    width:50px;

    text-align:center;

    border-radius:10px;

    border:1px solid black;

    font-size: 40px;

}
.answer{
    background:yellow;

    border-radius: 10px;

    margin-top:50px;

    width:100px;

    height: 40px;
     
    font-size: 20px;
}
